body 
{
	font-family: “PilGi”;
	text-align: justify;
	background-color: powderblue;
}
h1 
{
	font-family:Apple Chancery;  
	font-size:80px;
    	color:blue;
	text-align:center;
}
p 
{
	font-family:Bradley Hand;
	font-size:20px;
	color:black;
}
